- throw_content :title, 'account maken, stap 1'

.subcolumns
  .c25l
    .subcl
      &nbsp;
  .c50l
    .subcl
      %br/
      %h1
        Stap 1
      .narrow
        %p.big
          Je kunt gelijk doorgaan met
          = link_to 'stap2', url(:signup_step2)
          , vooralsnog besparen we je de moralizerende introcutie, de gebruikers overeenkomst en de disclaimers...
  .c25r
    .subcr
      &nbsp;
