- throw_content :title, 'Signup for an account, step 1'

.subcolumns
  .c25l
    .subcl
      &nbsp;
  .c50l
    .subcl
      %br/
      %h1
        Stap 1
      .narrow
        %p.big
          == Please procede directly to #{link_to 'step 2', url(:signup, 'step2')}, as for now we will not bother you with a moralizing introduction, user agreements and disclaimers.
        %p.big
          = link_to 'Please procede...', url(:signup, 'step2')

  .c25r
    .subcr
      &nbsp;
