@charset "UTF-8";
/* a patch to isolate all the color giving style settings */
@media all {
  /* from layout */
  body {
    background: #4d87c7 url("/images/bg.png") repeat-x top left fixed; }

  /* from content */
  a {
    color: #4D87C7; }
    a:hover, a:focus, a:active {
      background-color: #4D87C7; }

  .logo_color:focus, .logo_color:hover, .logo_color:active {
    background-color: #4D87C7; }

  #footer a:focus, #footer a:hover, #footer a:active {
    color: #4D87C7; }

  .document:hover, .document:focus, .document:active {
    border-top: 2px solid #4D87C7;
    border-left: 2px solid #4D87C7; }
  .document .entry_header span.title a:hover, .document .entry_header span.title a:focus, .document .entry_header span.title a:active {
    border-top: 2px solid #4D87C7;
    border-bottom: 2px solid #4D87C7; }
  .document .entry_header .links a:hover, .document .entry_header .links a:focus, .document .entry_header .links a:active {
    border-top: 2px solid #4D87C7;
    border-bottom: 2px solid #4D87C7; }

  #nav_main ul li a:hover, #nav_main ul li a:focus, #nav_main ul li a:active {
    color: #4D87C7; } }
