%h1
  details
%table.full
  %tbody
    %tr
      %td.sub{ :width => '50%' }
        gebruiker sinds
      %td.sub
        = short_human_date user.created_at
    %tr
      %td
        projecten
      %td
        = '123'
    %tr
      %td.sub
        documenten
      %td.sub
        = '234'
    %tr
      %td
        meer onzin..
      %td
        = '354'
