
#error_dialog
  %h2= title || "Oops..."
  %p
    - s_or_not = (object.errors.size > 1 ? 's' : '')
    == The form you submitted could not be processed for the following reason#{s_or_not}
    %ul
      - object.errors.each do |error|
        - error = [error] unless error.class == Array
        - error.each do |e|
          %li= e
    == Please fix the error#{s_or_not} and try again.