- throw_content(:title, 'Documents overview')

.subcolumns
  .c25l
    .subcl
      %h4
        Actions
      .column_menu

      %br/
      %h4
        Documents
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada   suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque.   Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed.
  .c75r
    .subcr
      %h1
        Document overview
      = partial 'list'
