.subcolumns
  .c75r
    .subcr
      .float_left
        %h1.content
          = project.default_name[0]
  .c25l
    .subcl
      %h1.content{ :align => 'right' }
        %span.pre_title== project:#{project.id.to_s}