- throw_content(:title, 'My Start')

.subcolumns
  .c25l
    .subcl
      = partial 'my/my_menu'
      %br/
  .c75r
    .subcr
      %h1
        My Start
      These pages, the 'My ...' pages, give you access to you personal information on Truetopia.
.subcolumns
  .c33l
    .subcl
      %h4
        my mods
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada   suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque.   Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed.
  .c33l
    .subcl
      %h4
        my votes
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada   suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque.   Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed.
  .c33r
    .subcr
      %h4
        my subscriptions
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada   suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque.   Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed.