- case params[:discussion_parent]
  - when 'StepDocument'
    - throw_content :title, "discussion"
    = partial 'documents/document_header', :document => @document, :current => :discussion
  - when 'user'

.subcolumns.right_bg
  .c75r
    .subcr
      - if @root_posts.empty?
        %br/
        %p
          There are no posts yet in this discussion...
        %p
          \...go ahead and be the first!
      - else
        - @root_posts.each do |post|
          = partial('discussion_posts/post', :post => post)
  .c25l
    .subcl
      .column_menu
        %h3
          Actions
        = link_to "Create new discussion post", discussion_url(:action => 'new')
        %br/


