

.subcolumns.right_bg
  .c75r
    .subcr
      = partial('discussion_posts/post', :post => @post)
  .c25l
    .subcl
      .column_menu
        %h3
          Actions
        = link_to "Create new post", discussion_url(:action => 'new', :parent_code => @post.code)
        %br/
        = link_to "Back to the document", document_url