

.subcolumns.right_bg
  .c75r
    .subcr
      = partial('discussion_posts/post', :post => @post)
  .c25l
    .subcl
      .column_menu
        %h3
          Acties
        = link_to "&nbsp;&nbsp;Plaats een nieuwe reacie", discussion_url(:action => 'new', :parent_code => @post.code)
        %br/
        = link_to "&nbsp;&nbsp;Terug naar document", document_url